.partida-privada {
  background-color: #fffaf4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.partida-privada .div {
  background-color: #fffaf4;
  height: 2532px;
  overflow: hidden;
  position: relative;
  width: 1170px;
}
.partida-privada .overlap {
  height: 1036px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1170px;
}
.partida-privada .rectangle {
  background-color: #313131;
  height: 905px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1170px;
}
.partida-privada .icon-chevron-down {
  height: 65px;
  left: 190px;
  position: absolute;
  top: 180px;
  width: 39px;
}
.partida-privada .group {
  height: 99px;
  left: 942px;
  position: absolute;
  top: 163px;
  width: 78px;
}
.partida-privada .overlap-group {
  height: 99px;
  position: relative;
}
.partida-privada .rectangle-2 {
  background: linear-gradient(
    180deg,
    rgb(255, 222, 89) 0%,
    rgb(255, 222, 89) 0.01%,
    rgb(255, 145, 77) 84%,
    rgb(255, 145, 77) 99%
  );
  border-radius: 9px;
  height: 53px;
  left: 7px;
  position: absolute;
  top: 30px;
  width: 64px;
}
.partida-privada .vector {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 78px;
}
.partida-privada .rectangle-3 {
  background-color: #313131;
  border-radius: 5px;
  height: 43px;
  left: 29px;
  position: absolute;
  top: 56px;
  width: 20px;
}
.partida-privada .p {
  color: #ffffff;
  font-family: "Gothic A1-Light", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 346px;
  letter-spacing: 1.28px;
  line-height: normal;
  position: absolute;
  top: 179px;
}
.partida-privada .text-wrapper {
  font-weight: 300;
  letter-spacing: 0.82px;
}
.partida-privada .span {
  font-family: "Gothic A1-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.82px;
}
.partida-privada .img {
  height: 65px;
  left: 159px;
  position: absolute;
  top: 180px;
  width: 39px;
}
.partida-privada .group-2 {
  height: 99px;
  left: 973px;
  position: absolute;
  top: 163px;
  width: 78px;
}
.partida-privada .overlap-wrapper {
  height: 700px;
  left: 48px;
  position: absolute;
  top: 336px;
  width: 1076px;
}
.partida-privada .overlap-2 {
  height: 760px;
  left: -30px;
  position: relative;
  top: -20px;
  width: 1132px;
}
.partida-privada .rectangle-4 {
  background: linear-gradient(
    180deg,
    rgb(123.8, 255, 247.13) 13.6%,
    rgb(255, 136, 228.57) 74.1%
  );
  border-radius: 75px;
  box-shadow: var(--picha);
  height: 700px;
  left: 30px;
  position: absolute;
  top: 20px;
  width: 1072px;
}
.partida-privada .rectangle-5 {
  height: 760px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1132px;
}
.partida-privada .text-wrapper-2 {
  color: #ffffff;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 48px;
  font-weight: 600;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 622px;
}
.partida-privada .text-wrapper-3 {
  color: #ffffff;
  font-family: "Monoton-Regular", Helvetica;
  font-size: 165px;
  font-weight: 400;
  left: 73px;
  letter-spacing: 0;
  line-height: 217px;
  position: absolute;
  top: 136px;
  width: 1028px;
}
.partida-privada .overlap-3 {
  height: 1706px;
  left: -880px;
  position: absolute;
  top: 2643px;
  width: 1170px;
}
.partida-privada .text-wrapper-4 {
  color: #ffffff;
  font-family: "Lato-ExtraBold", Helvetica;
  font-size: 40px;
  font-weight: 800;
  left: 928px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.partida-privada .rectangle-6 {
  background-color: #7d7d7d80;
  border-radius: 140px;
  box-shadow: 0px 4px 4px 2px #00000040;
  height: 1679px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 1170px;
}
.partida-privada .rectangle-7 {
  background: linear-gradient(
    180deg,
    rgba(108.6, 107.42, 107.42, 0.7) 0%,
    rgba(83.94, 81.63, 81.63, 0.29) 100%
  );
  border: 3px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(255, 222, 89),
      rgb(255, 222, 89) 0.01%,
      rgb(255, 145, 77) 84%,
      rgb(255, 145, 77) 99%
    )
    1;
  border-radius: 20px;
  height: 150px;
  left: 131px;
  position: absolute;
  top: 225px;
  width: 921px;
}
.partida-privada .text-wrapper-5 {
  color: #ffffff;
  font-family: "Lato-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
  left: 102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 129px;
  white-space: nowrap;
  width: 289px;
}
.partida-privada .overlap-4 {
  height: 279px;
  left: 68px;
  position: absolute;
  top: 1348px;
  width: 1072px;
}
.partida-privada .text-wrapper-6 {
  color: #000000;
  font-family: "Lato-Black", Helvetica;
  font-size: 60px;
  font-weight: 900;
  left: 0;
  letter-spacing: 1.2px;
  line-height: normal;
  position: absolute;
  top: 207px;
  white-space: nowrap;
}
.partida-privada .text-wrapper-7 {
  color: #000000;
  font-family: "Lato-Light", Helvetica;
  font-size: 55px;
  font-weight: 300;
  left: 0;
  letter-spacing: 2.2px;
  line-height: 85px;
  position: absolute;
  top: 0;
  width: 1072px;
}
.partida-privada .overlap-5 {
  height: 272px;
  left: 67px;
  position: absolute;
  top: 1638px;
  width: 1073px;
}
.partida-privada .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 272px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1072px;
}
.partida-privada .text {
  align-self: stretch;
  color: transparent;
  font-family: "Lato-Light", Helvetica;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 2.2px;
  line-height: 55px;
  position: relative;
}
.partida-privada .text-wrapper-8 {
  color: #000000;
  font-weight: 300;
  letter-spacing: 1.21px;
  line-height: 85px;
}
.partida-privada .text-2 {
  align-self: stretch;
  color: transparent;
  font-family: "Lato-Light", Helvetica;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 2.2px;
  line-height: 55px;
  margin-bottom: -198px;
  position: relative;
}
.partida-privada .text-wrapper-9 {
  color: #000000;
  font-family: "Lato-Regular", Helvetica;
  font-size: 40px;
  letter-spacing: 0.64px;
  line-height: 94px;
}
.partida-privada .text-wrapper-10 {
  color: #000000;
  font-family: "Lato-Bold", Helvetica;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1.44px;
  line-height: 94px;
}
.partida-privada .text-wrapper-11 {
  color: #a8a8a8;
  font-family: "Lato-Regular", Helvetica;
  font-size: 40px;
  letter-spacing: 0.64px;
  line-height: 94px;
}
.partida-privada .text-wrapper-12 {
  color: #a8a8a8;
  font-family: "Lato-Regular", Helvetica;
  font-size: 40px;
  letter-spacing: 0.64px;
  line-height: 94px;
  text-decoration: underline;
}
.partida-privada .icon-alternate-map {
  height: 47px;
  left: 0;
  position: absolute;
  top: 208px;
  width: 35px;
}
.partida-privada .overlap-6 {
  height: 72px;
  left: 68px;
  position: absolute;
  top: 1259px;
  width: 584px;
}
.partida-privada .text-wrapper-13 {
  color: #000000;
  font-family: "Lato-Black", Helvetica;
  font-size: 60px;
  font-weight: 900;
  left: 0;
  letter-spacing: 1.2px;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.partida-privada .overlap-7 {
  height: 72px;
  left: 68px;
  position: absolute;
  top: 1134px;
  width: 515px;
}
.partida-privada .overlap-8 {
  height: 531px;
  left: 68px;
  position: absolute;
  top: 1959px;
  width: 953px;
}
.partida-privada .overlap-9 {
  height: 531px;
  left: 0;
  position: absolute;
  top: 0;
  width: 953px;
}
.partida-privada .overlap-10 {
  height: 72px;
  left: 0;
  position: absolute;
  top: 163px;
  width: 357px;
}
.partida-privada .overlap-11 {
  height: 181px;
  left: 516px;
  position: absolute;
  top: 0;
  width: 84px;
}
.partida-privada .rectangle-8 {
  background: linear-gradient(
    180deg,
    rgb(255, 222, 89) 0%,
    rgb(255, 222, 89) 0.01%,
    rgb(255, 145, 77) 84%,
    rgb(255, 145, 77) 99%
  );
  border-radius: 15px;
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 84px;
}
.partida-privada .text-wrapper-14 {
  color: #ffffff;
  font-family: "Lato-Bold", Helvetica;
  font-size: 55px;
  font-weight: 700;
  height: 175px;
  left: 7px;
  letter-spacing: 2.2px;
  line-height: 85px;
  position: absolute;
  top: 6px;
}
.partida-privada .overlap-12 {
  height: 385px;
  left: 93px;
  position: absolute;
  top: 146px;
  width: 860px;
}
.partida-privada .rectangle-9 {
  background: linear-gradient(
    180deg,
    rgb(255, 222, 89) 0%,
    rgb(255, 222, 89) 0.01%,
    rgb(255, 145, 77) 84%,
    rgb(255, 145, 77) 99%
  );
  border-radius: 15px;
  height: 108px;
  left: 305px;
  position: absolute;
  top: 0;
  width: 84px;
}
.partida-privada .text-wrapper-15 {
  color: #ffffff;
  font-family: "Lato-Bold", Helvetica;
  font-size: 55px;
  font-weight: 700;
  height: 172px;
  left: 312px;
  letter-spacing: 2.2px;
  line-height: 85px;
  position: absolute;
  top: 7px;
  width: 67px;
}
.partida-privada .group-3 {
  height: 220px;
  left: 0;
  position: absolute;
  top: 165px;
  width: 860px;
}
.partida-privada .overlap-13 {
  height: 72px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 456px;
}
.partida-privada .overlap-14 {
  height: 72px;
  left: 622px;
  position: absolute;
  top: 1134px;
  width: 300px;
}
.partida-privada .text-wrapper-16 {
  color: #000000;
  font-family: "Lato-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  left: 0;
  letter-spacing: 1.2px;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.partida-privada .username {
  height: 60px;
  left: -7954px;
  position: absolute;
  top: 2301px;
  width: 60px;
}
.partida-privada .mono-fondo-negro {
  height: 454px;
  left: -7774px;
  object-fit: cover;
  position: absolute;
  top: 1440px;
  width: 476px;
}
.partida-privada .div-wrapper {
  background-color: #7d7d7d80;
  border-radius: 140px;
  box-shadow: 0px 4px 4px 2px #00000040;
  height: 1685px;
  left: 406px;
  position: absolute;
  top: 2670px;
  width: 1170px;
}
.partida-privada .text-wrapper-17 {
  color: #ffffff;
  font-family: "Lato-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
  left: 95px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 187px;
  white-space: nowrap;
  width: 507px;
}
.partida-privada .overlap-15 {
  height: 1513px;
  left: 1690px;
  position: absolute;
  top: 1701px;
  width: 1200px;
}
.partida-privada .frame {
  background-color: #fffaf4;
  height: 1513px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 1166px;
}
.partida-privada .rectangle-10 {
  background-color: #313131;
  height: 905px;
  left: 0;
  position: absolute;
  top: 65px;
  width: 1170px;
}
.partida-privada .flexcontainer-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 110px;
  left: 58px;
  position: absolute;
  top: 213px;
  width: 373px;
}
.partida-privada .span-wrapper {
  align-self: stretch;
  color: #ffffff;
  font-family: "Gothic A1-Light", Helvetica;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.partida-privada .text-wrapper-18 {
  font-weight: 300;
  letter-spacing: 1.12px;
}
.partida-privada .text-wrapper-19 {
  font-family: "Gothic A1-ExtraBold", Helvetica;
  font-weight: 800;
  letter-spacing: 0.64px;
}
.partida-privada .text-wrapper-20 {
  color: #ffffff;
  font-family: "Lato-Light", Helvetica;
  font-size: 40px;
  font-weight: 300;
  left: 145px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1179px;
  white-space: nowrap;
}
.partida-privada .text-wrapper-21 {
  color: #ffffff;
  font-family: "Lato-Light", Helvetica;
  font-size: 40px;
  font-weight: 300;
  left: 802px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1100px;
  white-space: nowrap;
}
.partida-privada .rectangle-11 {
  background-color: #424242;
  border-radius: 50px;
  height: 167px;
  left: 32px;
  position: absolute;
  top: 417px;
  width: 1106px;
}
.partida-privada .rectangle-12 {
  background: linear-gradient(
    180deg,
    rgb(255, 222, 89) 0%,
    rgb(255, 222, 89) 0.01%,
    rgb(255, 145, 77) 84%,
    rgb(255, 145, 77) 99%
  );
  border-radius: 50px;
  box-shadow: 0px 5px 25px 10px #00000040;
  height: 135px;
  left: 987px;
  position: absolute;
  top: 435px;
  width: 135px;
}
.partida-privada .text-wrapper-22 {
  color: #737373;
  font-family: "Lato-Regular", Helvetica;
  font-size: 54px;
  font-weight: 400;
  left: 201px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 469px;
}
.partida-privada .text-wrapper-23 {
  color: #ffffff;
  font-family: "Monoton-Regular", Helvetica;
  font-size: 145px;
  font-weight: 400;
  left: 117px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1005px;
  width: 1083px;
}
.partida-privada .vector-wrapper {
  background: linear-gradient(
    180deg,
    rgb(255, 222, 89) 0%,
    rgb(255, 222, 89) 0.01%,
    rgb(255, 145, 77) 84%,
    rgb(255, 145, 77) 99%
  );
  border-radius: 50px;
  box-shadow: 0px 5px 25px 10px #00000040;
  height: 135px;
  left: 995px;
  position: absolute;
  top: 104px;
  width: 135px;
}
.partida-privada .vector-2 {
  height: 75px;
  left: -7210px;
  position: absolute;
  top: -582px;
  width: 75px;
}
.partida-privada .text-wrapper-24 {
  color: #a8a8a8;
  font-family: "Lato-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 993px;
  letter-spacing: 0.8px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 271px;
  white-space: nowrap;
}
.partida-privada .rectangle-13 {
  height: 622px;
  left: -5492px;
  object-fit: cover;
  position: absolute;
  top: 1748px;
  width: 1080px;
}
.partida-privada .icon-horizontal {
  height: 80px;
  left: -5477px;
  position: absolute;
  top: 1553px;
  width: 1024px;
}
.partida-privada .icon-chevron-down-2 {
  height: 18px;
  left: -5100px;
  position: absolute;
  top: 1377px;
  width: 30px;
}
.partida-privada .overlap-16 {
  height: 992px;
  left: 3016px;
  position: absolute;
  top: 1744px;
  width: 1170px;
}
.partida-privada .overlap-17 {
  height: 69px;
  left: 7px;
  position: absolute;
  top: 30px;
  width: 64px;
}
.partida-privada .rectangle-14 {
  background: linear-gradient(
    180deg,
    rgb(255, 222, 89) 0%,
    rgb(255, 222, 89) 0.01%,
    rgb(255, 145, 77) 84%,
    rgb(255, 145, 77) 99%
  );
  border-radius: 9px;
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
}
.partida-privada .rectangle-15 {
  background-color: #313131;
  border-radius: 5px;
  height: 43px;
  left: 22px;
  position: absolute;
  top: 26px;
  width: 20px;
}
.partida-privada .vector-3 {
  height: 78px;
  left: -7240px;
  position: absolute;
  top: -562px;
  width: 50px;
}
.partida-privada .compra-de-entradas {
  color: #ffffff;
  font-family: "Gothic A1-Light", Helvetica;
  font-size: 64px;
  font-weight: 400;
  left: 275px;
  letter-spacing: 1.28px;
  line-height: normal;
  position: absolute;
  top: 171px;
}
.partida-privada .text-wrapper-25 {
  color: #ffffff;
  font-family: "Lato-Light", Helvetica;
  font-size: 40px;
  font-weight: 300;
  left: 123px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 937px;
  white-space: nowrap;
}
.partida-privada .text-wrapper-26 {
  color: #ffffff;
  font-family: "Monoton-Regular", Helvetica;
  font-size: 220px;
  font-weight: 400;
  left: 87px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 650px;
  width: 1083px;
}
.partida-privada .icon-chevron-down-3 {
  height: 39px;
  left: -4026px;
  position: absolute;
  top: 1312px;
  width: 65px;
}
.partida-privada .rectangle-16 {
  height: 700px;
  left: -4175px;
  object-fit: cover;
  position: absolute;
  top: 1468px;
  width: 1072px;
}
.partida-privada .text-wrapper-27 {
  color: #000000;
  font-family: "Lato-Black", Helvetica;
  font-size: 60px;
  font-weight: 900;
  left: 3083px;
  letter-spacing: 1.2px;
  line-height: normal;
  position: absolute;
  top: 2835px;
  white-space: nowrap;
}
.partida-privada .overlap-18 {
  height: 992px;
  left: 4303px;
  position: absolute;
  top: 1752px;
  width: 1170px;
}
.partida-privada .icon-chevron-down-4 {
  height: 39px;
  left: -2739px;
  position: absolute;
  top: 1320px;
  width: 65px;
}
.partida-privada .rectangle-17 {
  height: 700px;
}
