.sign-up {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .sign-up .overlap-group-wrapper {
    background-color: #ffffff;
    height: 2532px;
    overflow: hidden;
    width: 1170px;
  }
  
  .sign-up .overlap-group {
    height: 2597px;
    left: -1px;
    position: relative;
    width: 1171px;
  }
  
  .sign-up .fiesta-borrosa {
    height: 2532px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1170px;
  }
  
  .sign-up .rectangle {
    background-color: #7d7d7d80;
    border-radius: 140px;
    box-shadow: 0px 4px 4px 2px #00000040;
    height: 1679px;
    left: 0;
    position: absolute;
    top: 917px;
    transform: rotate(0.03deg);
    width: 1170px;
  }
  
  .sign-up .div {
    background: linear-gradient(180deg, rgba(108.6, 107.42, 107.42, 0.7) 0%, rgba(83.94, 81.63, 81.63, 0.29) 100%);
    border: 3px solid;
    border-color: transparent;
    border-image: linear-gradient(
        to bottom,
        rgb(255, 222, 89),
        rgb(255, 222, 89) 0.01%,
        rgb(255, 145, 77) 84%,
        rgb(255, 145, 77) 99%
      )
      1;
    border-radius: 20px;
    height: 150px;
    left: 136px;
    position: absolute;
    top: 1432px;
    width: 921px;
  }
  
  .sign-up .vector {
    height: 49px;
    left: 171px;
    position: absolute;
    top: 1482px;
    width: 68px;
  }
  
  .sign-up .rectangle-2 {
    background: linear-gradient(180deg, rgba(81.39, 80.78, 80.78, 0.6) 0%, rgba(28.69, 28.19, 28.19, 0.25) 100%);
    border: 3px solid;
    border-color: transparent;
    border-image: linear-gradient(
        to bottom,
        rgb(255, 222, 89),
        rgb(255, 222, 89) 0.01%,
        rgb(255, 145, 77) 84%,
        rgb(255, 145, 77) 99%
      )
      1;
    border-radius: 20px;
    height: 150px;
    left: 136px;
    position: absolute;
    top: 1757px;
    width: 921px;
  }
  
  .sign-up .img {
    height: 61px;
    left: 171px;
    position: absolute;
    top: 1806px;
    width: 69px;
  }
  
  .sign-up .text-wrapper {
    color: #ffffff;
    font-family: "Lato-Bold", Helvetica;
    font-size: 44px;
    font-weight: 700;
    left: 190px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2335px;
    white-space: nowrap;
    width: 778px;
  }
  
  .sign-up .line {
    height: 3px;
    left: 280px;
    position: absolute;
    top: 2292px;
    width: 611px;
  }
  
  .sign-up .rectangle-3 {
    background: linear-gradient(
      180deg,
      rgb(255, 222, 89) 0%,
      rgb(255, 222, 89) 0.01%,
      rgb(255, 145, 77) 84%,
      rgb(255, 145, 77) 99%
    );
    border-radius: 50px;
    box-shadow: var(--picha);
    height: 128px;
    left: 389px;
    position: absolute;
    top: 2095px;
    width: 393px;
  }
  
  .sign-up .text-wrapper-2 {
    color: #ffffff;
    font-family: "Lato-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 445px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2129px;
    width: 291px;
  }
  
  .sign-up .text-wrapper-3 {
    color: #ffffff;
    font-family: "Lato-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 121px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1335px;
    white-space: nowrap;
    width: 184px;
  }
  
  .sign-up .text-wrapper-4 {
    color: #ffffff;
    font-family: "Lato-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 126px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1667px;
    white-space: nowrap;
    width: 295px;
  }
  
  .sign-up .vector-2 {
    height: 57px;
    left: 930px;
    position: absolute;
    top: 1803px;
    width: 76px;
  }
  
  .sign-up .rectangle-4 {
    background: linear-gradient(180deg, rgba(108.6, 107.42, 107.42, 0.7) 0%, rgba(83.94, 81.63, 81.63, 0.29) 100%);
    border: 3px solid;
    border-color: transparent;
    border-image: linear-gradient(
        to bottom,
        rgb(255, 222, 89),
        rgb(255, 222, 89) 0.01%,
        rgb(255, 145, 77) 84%,
        rgb(255, 145, 77) 99%
      )
      1;
    border-radius: 20px;
    height: 150px;
    left: 126px;
    position: absolute;
    top: 1126px;
    width: 921px;
  }
  
  .sign-up .username {
    height: 60px;
    left: 167px;
    position: absolute;
    top: 1171px;
    width: 60px;
  }
  
  .sign-up .text-wrapper-5 {
    color: #ffffff;
    font-family: "Lato-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 99px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1036px;
    white-space: nowrap;
    width: 504px;
  }
  
  .sign-up .mono-fondo-negro {
    height: 454px;
    left: 347px;
    object-fit: cover;
    position: absolute;
    top: 235px;
    width: 476px;
  }
  